*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #000;
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #fafafa;
  font-family: Montserrat;
  color: #252b42;
  font-size: 14px;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__clients:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.header-block__subtitle {
  color: #737373;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
}

@media (max-width: 992px) {
  .header-block__title {
    font-weight: 700;
    font-size: 37px;
    line-height: 137%;
  }
}
@media (max-width: 646px) {
  .header-block__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 137%;
  }
  .header-block__subtitle {
    color: #737373;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 128.5714285714%;
  }
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 113px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 50px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
  .header__container {
    min-height: 70px;
  }
}
.menu {
  padding: 5px 0;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}
.menu__item:not(:last-child) {
  margin: 0 21px 0 0px;
}
.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
.page {
  flex: 1 1 auto;
}
.mainblock {
  position: relative;
}
.mainblock__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.mainblock__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}
@media (max-width: 992px) {
  .mainblock .mainblock__body {
    padding: 100px 0 191px 0;
  }
}
@media (max-width: 469px) {
  .mainblock .mainblock__body {
    padding: 100px 0 160px 0;
  }
}
.mainblock__title {
  letter-spacing: 0.2px;
  font-weight: 800;
  font-size: 58px;
  line-height: 137.9310344828%;
}
@media (max-width: 479px) {
  .mainblock .mainblock__title {
    font-size: 42px;
  }
}
.mainblock__text {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.mainblock__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.mainblock__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  padding: 5px 36px;
  border-radius: 37px;
  min-height: 48px;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}
.mainblock__button:not(:last-child) {
  margin-right: 10px;
}
.mainblock__button_orange {
  background-color: #ff7b47;
  color: #ffffff;
}
.mainblock__button_orange:hover {
  background-color: #a54f2c;
  color: #fff;
}
.mainblock__button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}
.mainblock__button_border:hover {
  background-color: #0d5c63;
  color: white;
}
.mainblock__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 479px) {
  .mainblock__button {
    flex: 1 1 100%;
  }
  .mainblock__button:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 1300px) {
  .mainblock__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .mainblock__image img {
    opacity: 0.5;
  }
}
.page__services {
  margin: -111px 0 0 0;
  position: relative;
  z-index: 2;
}

.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.services__column {
  padding: 0 15px;
  flex: 0 1 33.333%;
}
.services__item {
  height: 100%;
  padding: 35px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.services__item_white {
  background-color: #ffffff;
}
.services__item_darkblue {
  background-color: #0d5c63;
  color: white;
}

@media (max-width: 1067px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
}
@media (max-width: 767px) {
  .services__column {
    flex: 0 1 100%;
  }
}
.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 141.6666666667%;
}
.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
.item-service__text_white {
  color: #ffffff;
}

.advantages {
  padding: 100px 0 30px 0;
}
@media (max-width: 992px) {
  .advantages .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages .advantages {
    padding: 30px 0;
  }
  .advantages .advantages__header {
    margin: 0 0 25px 0;
  }
}
.advantages__header {
  margin: 0 0 50px 0;
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.advantages__columns {
  padding: 0px 15px;
  flex: 0 1 25%;
}
@media (max-width: 1067px) {
  .advantages .advantages__columns {
    flex: 0 1 50%;
  }
}
@media (max-width: 467px) {
  .advantages .advantages__columns {
    flex: 0 1 100%;
  }
}
.advantages__item {
  align-items: center;
  background-color: #fff;
  padding: 35px;
  text-align: center;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.advantages__icon {
  align-items: flex-end;
  justify-content: center;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.advantages__text {
  font-size: 16px;
  line-height: 150%;
  color: #737373;
  letter-spacing: 0.1px;
}

.practice {
  padding: 125px 0 80px 0;
}
.practice__header {
  margin: 0 0 45px 0;
}
.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0 20px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}
@media (max-width: 1070px) {
  .practice .practice {
    padding: 100px 0 60px 0;
  }
  .practice .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 456px) {
  .practice .practice {
    padding: 45px 0 40px 0;
  }
  .practice .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__title {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-practice__title > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-practice__title a {
  color: inherit;
}
.item-practice__title:hover {
  text-decoration: underline;
}
.item-practice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #737373;
}
.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

.whoweare {
  background: #ffffff;
  padding: 80px 0 130px 0;
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
}
.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.whoweare__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #737373;
}
.whoweare__items {
  padding: 50px 0 0 0;
}
.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #737373;
  letter-spacing: 0.2px;
}

@media (max-width: 1077px) {
  .whoweare__content {
    padding: 0px 0 0 50px;
  }
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }
  .whoweare__body {
    padding: 0px 0 0 30px;
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0 0px 0;
  }
  .whoweare__header {
    margin: 0 0 30px 0;
  }
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__content {
    padding: 0;
  }
}
@media (max-width: 476px) {
  .whoweare {
    padding: 0px 0 0px 0;
  }
  .whoweare__body {
    padding: 0px 0 0 0px;
    flex-direction: column-reverse;
  }
  .whoweare__header {
    margin: 0 0 30px 0;
  }
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__content {
    padding: 0;
  }
}
.clients {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .clients .clients {
    padding: 30px 0;
  }
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  padding: 8px 10px;
  flex: 0 1 16.6666%;
  text-align: center;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  background-color: #252b42;
}
.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
}
@media (min-width: 1070px) {
  .subscribe .subscribe__body {
    margin: 0 30px;
  }
}
@media (min-width: 810px) {
  .subscribe .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 810px) {
  .subscribe .subscribe__title {
    margin: 0 0 20px 0;
  }
  .subscribe .subscribe__body {
    margin: 0 -15px;
    padding: 20px 25px;
  }
}
.subscribe__title {
  flex: 0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 141.6666666667%;
  letter-spacing: 0.1px;
  color: #ffffff;
  max-width: 266px;
}
.subscribe__form {
  width: 100%;
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.subscribe__input {
  flex: 1 1 auto;
  padding: 0 22px;
  min-height: 58px;
  color: #737373;
}
.subscribe__button {
  display: flex;
  min-height: 58px;
  background: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 0px 5px 5px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 22px;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.subscribe__button:hover {
  background-color: #a54f2d;
}

.getintouch {
  padding: 80px 0 135px 0;
}
.getintouch__header {
  margin: 0 0 80px 0;
}
.getintouch__items {
  margin: 0 -15px;
}
@media (min-width: 992px) {
  .getintouch .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .getintouch .getintouch__header {
    margin: 0 0 30px 0;
  }
}
.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 40px;
}
.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-getintouch__active {
  background-color: #252b42;
  padding: 80px 40px;
  color: white;
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.item-getintouch__support {
  letter-spacing: 0.1px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-getintouch__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  color: #ff7b47;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
  transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

.item-getintouch__active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}
.item-getintouch__active .item-getintouch__button:hover {
  background-color: #ffffff;
  color: #252b42;
}

.contactus {
  background-color: #fff;
  padding: 42px 0;
}
@media (min-width: 767px) {
  .contactus .contactus__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contactus .contactus__content {
    padding: 0 20px 0px 0;
  }
}
.contactus__content {
  padding: 0 20px 20px 0;
}
.contactus__button {
  display: flex;
  min-height: 58px;
  background: #ff7b47;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.contactus__button:hover {
  background: none;
  border: 2px solid #ff7b47;
  color: #ff7b47;
}

.content {
  padding: 0 20px 0 0;
}
.content__text {
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #737373;
}
.content__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
}
.content__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.footer__top {
  padding: 35px 0;
  background-color: #17213c;
}
.footer__row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.footer__column {
  padding: 15px 15px;
  flex: 0 1 16.6667%;
  min-width: 170px;
}
.footer__column:last-child {
  flex: 0 1 33.3334%;
}
@media (max-width: 992px) {
  .footer .footer__column {
    flex: 0 1 25%;
  }
  .footer .footer__column:last-child {
    flex: 1 1 100%;
  }
}
@media (max-width: 692px) {
  .footer .footer__column {
    padding: 20px 10px;
    flex: 0 1 50%;
  }
}
@media (max-width: 345px) {
  .footer .footer__column {
    padding: 20px 0px;
  }
}
.footer__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  letter-spacing: 0.1px;
  margin: 0 0 20px 0;
}
.footer__bottom {
  padding: 25px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .footer__container {
    flex-direction: column;
  }
  .footer .footer__copyright {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  color: #737373;
  letter-spacing: 0.2px;
}
.footer__social {
  display: flex;
  align-items: center;
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}
.menu-footer__link {
  line-height: 171%;
  color: #fff;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer__item {
  padding: 0 0 0 34px;
  display: flex;
  line-height: 142%;
  align-items: center;
  color: #fff;
  min-height: 30px;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}
.contacts-footer__item_phone {
  background: url("../img/footer/icons/1.svg") left no-repeat;
}
.contacts-footer__item_map {
  background: url("../img/footer/icons/2.svg") left no-repeat;
}
.contacts-footer__item_send {
  background: url("../img/footer/icons/3.svg") left no-repeat;
}

.social {
  padding: 0 40px;
}
.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}
